<!DOCTYPE html>
<html>
 
	<head>
		<meta charset="UTF-8">
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
		<style type="text/css">
			.logs {
				background: rgba(0, 0, 0, 0.5);
				color: white;
				position: fixed;
				top: 4em;
				right: 1em;
				width: 12em;
				border-radius: 5px;
				padding: 2px;
				overflow: auto;
				z-index: 999;
			}
		</style>
	</head>
 
	<body>
		<div class="app" id="app">
			<div class="logs" data-spy="scroll" data-target="#navbar-example" data-offset="0" v-bind:style="{ height: log_height}">
				<span style="position: absolute;right: 2em;top: 1.2em;" @click="logs=[]">清空</span>
				<p @click="click_log_status" style="padding: 2px;">{{log_status?"关闭调试信息":"打开调试信息"}}</p>
				<span v-if="log_status" v-for="(item,index) in logs">
					<p >{{index+1}}.{{item}}</p>
				</span>
			</div>
		</div>
		<script>
			new Vue({
				el: '#app',
				data: {
					logs: [],
					log_height: '16em',
					log_status: true,
					userId: 'asd'
				},
				methods: {
					click_log_status: function() {
						if(this.log_status) {
							this.log_status = false
							this.log_height = '3em'
						} else {
							this.log_status = true
							this.log_height = '16em'
						}
					},
					//1.登录接口
					login: function() {
						var userId = this.userId;
						for (var i=0;i<20;i++) {
						this.logs.push('调用了登录'+i)
						}
					},
					// url参数解析
					getUrlkey: function(url) {
						var params = {};
						if(url.indexOf("?") != -1) {
							var urls = url.split("?");
							var arr = urls[1].split("&");
							for(var i = 0, l = arr.length; i < l; i++) {
								var a = arr[i].split("=");
								params[a[0]] = a[1];
							}
						} else {}
						return params;
					}
				},
 
				mounted: function() {
					this.logs.push('页面参数：' + JSON.stringify(this.getUrlkey(window.location.href)))
					if(this.getUrlkey(window.location.href).userId) {
						this.userId = this.getUrlkey(window.location.href).userId
					}
					this.login()
				}
			})
		</script>
 
	</body>
 
</html>